@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.style_input input:focus {
  outline: none;
}

.header__menu h1 {
  margin-top: 0;
}

body {
  font-family: "roboto";
  width: auto;
  min-width: 375px;
  max-width: 1500px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.shrikhand {
  font-family: "Shrikhand";
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  color: #7e7e7e;
}

.menu__entrees,
.menu__plats,
.menu__desserts {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}

.entrees,
.plats,
.desserts {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 1em;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  overflow: hidden;
}

.detail, .detail h4, .nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes display {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

@keyframes slide-menu {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide__ico {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@media screen and (min-width: 1440px) {
  body {
    max-width: 1500px;
    margin: 30px auto;
    box-shadow: -5px -5px 5px #f2f2f2, 5px 5px 5px 5px black;
    border-radius: 20px 20px 20px 20px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  opacity: 0.9;
  z-index: 9999;
  visibility: hidden;
  animation: display 3s;
}

.loader__bar {
  border-radius: 150px;
  width: 200px;
  height: 200px;
  border-top: 10px solid #9356dc;
  border-right: 10px solid #99e2d0;
  border-bottom: 10px solid #ff79da;
  border-left: 10px solid #99e2d0;
  animation: spin 2s 2 linear;
}

.loader__logo {
  position: fixed;
  font-family: "shrikhand";
  font-size: 3em;
  color: whitesmoke;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 0.2em;
}

.search {
  height: 330px;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

@media screen and (min-width: 1024px) {
  .search {
    height: 280px;
  }
}

.search__form {
  width: 100%;
  text-align: center;
}

.search input::placeholder {
  color: black;
}

.style__input {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border-top: 2px inset #cfcfcf;
  padding-left: 2em;
}

.style__input input {
  height: auto;
  background-color: #eaeaea;
  border-style: none;
  -webkit-appearance: none;
  font-weight: bold;
  margin-left: 1em;
}

.style__texte {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.style__texte h2 {
  margin-top: 1.5em;
}

.style__texte p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.submit {
  width: 15em;
  height: 3.5em;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  outline: none;
  box-shadow: 2px 2px 5px grey;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.submit:hover {
  box-shadow: 2px 2px 10px 5px grey;
}

.submit:hover::after {
  opacity: 1;
}

.submit::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
}

.fonction {
  margin-top: 2.5em;
  padding-left: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 1024px) {
  .fonction {
    height: 250px;
  }
}

.fonction h2 {
  margin-bottom: 0.4em;
}

.fonction__liste {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .fonction__liste {
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .fonction__liste {
    flex-direction: row;
  }
}

.fonction__liste p {
  background-color: #f6f6f6;
  border-radius: 20px;
  height: 4em;
  padding-top: 1.7em;
  box-shadow: 1px 1px 10px 1px grey;
  font-weight: bold;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .fonction__liste p {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .fonction__liste p {
    width: 30%;
    height: 3em;
    margin-left: 2.5em;
  }
}

.fonction__liste p:hover {
  background-color: #f2eafb;
}

.fonction__liste p:hover > i {
  color: #9356dc;
}

.fa-heart::after {
  content: "\f004";
  clip-path: circle(0%);
  transition: clip-path 1.5s;
  position: relative;
  left: -24px;
  font-size: 1em;
}

.fa-heart:hover::before {
  content: "\f004";
  -webkit-text-fill-color: transparent;
}

.fa-heart:hover::after {
  content: "\f004";
  font-weight: bold;
  background: linear-gradient(#9356dc, #ff79da);
  clip-path: circle(100%);
  background-clip: content-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.numb {
  background-color: #9356dc;
  border-radius: 100%;
  padding: 0.1em 0.4em;
  color: white;
  margin-left: -0.5em;
}

.fa-mobile-alt {
  margin: 0 2em;
}

.fa-list-ul {
  margin: 0 1.8em;
}

.fa-store {
  margin: 0 1.7em;
}

.resto {
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 2.5em;
  background-color: #f6f6f6;
  padding-left: 20px;
  padding-top: 2em;
}

@media screen and (min-width: 1024px) {
  .resto {
    height: 700px;
  }
}

.resto__cartes {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

@media screen and (min-width: 768px) {
  .resto__cartes {
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .resto__cartes {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-self: center;
  }
}

.carte {
  height: 253px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 5px grey;
}

@media screen and (min-width: 768px) {
  .carte {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .carte {
    width: 40%;
  }
}

.carte__legende {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.7em;
}

.carte__legende h3 {
  margin: 0;
  margin-left: -1em;
}

.carte__legende p {
  margin: 0;
  margin-top: 0.3em;
  margin-left: -1.2em;
}

img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

figure {
  width: 100%;
  height: 178px;
  border-radius: 20px 20px 0 0;
}

.new {
  width: 23%;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  color: #025741;
  background-color: #99e2d0;
  border-radius: 2px;
  position: relative;
  top: -95%;
  left: 75%;
}

.new p {
  margin-top: 0.4em;
}

.fa-heart {
  margin-left: 2em;
  font-size: 1.5em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 25px;
  height: 200px;
  background-color: #353535;
  color: white;
}

@media screen and (min-width: 1440px) {
  footer {
    border-radius: 0 0 20px 20px;
  }
}

footer ul {
  margin-bottom: 1.5em;
}

footer li {
  margin-bottom: 0.5em;
}

footer h3 {
  margin: 0;
  margin-top: 1em;
  font-weight: normal;
}

.footer__nav__liste a {
  color: white;
  font-size: 1.1em;
}

.fa-utensils {
  margin-right: 0.5em;
}

/* CSS Page Menu */
.header__menu {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.header__menu a {
  position: relative;
  left: -70px;
}

.fa-arrow-left {
  font-size: 1.5em;
}

.main__menu {
  height: 1580px;
}

@media screen and (min-width: 768px) {
  .main__menu {
    height: 1470px;
  }
}

@media screen and (min-width: 1200px) {
  .main__menu {
    height: 1008px;
  }
}

.main__menu__note {
  height: 1670px;
}

@media screen and (min-width: 768px) {
  .main__menu__note {
    height: 1560px;
  }
}

@media screen and (min-width: 1200px) {
  .main__menu__note {
    height: 1010px;
  }
}

.menu__fond {
  height: 300px;
}

.menu__fond__img {
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  .menu__fond__img {
    max-height: 280px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__fond__img {
    max-height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .img__francaise {
    object-position: 50% 60%;
  }
}

@media screen and (min-width: 768px) {
  .img__delice {
    object-position: 50% 80%;
  }
}

@media screen and (min-width: 768px) {
  .img__note {
    object-position: 50% 59%;
  }
}

.title__line {
  border-bottom: 3px solid #99e2d0;
}

.menu {
  width: 100%;
  position: relative;
  top: -80px;
  height: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
}

@media screen and (min-width: 768px) {
  .menu {
    top: -30px;
    height: 1200px;
    align-items: center;
    border-radius: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    height: 610px;
    top: 100px;
    border-radius: 0;
  }
}

.menu__shrikhand {
  margin-top: 1.5em;
  margin-left: 0.8em;
}

.menu__entrees__note {
  height: 446px;
}

.menu__note {
  top: -30px;
  height: 1400px;
}

@media screen and (min-width: 768px) {
  .menu__note {
    height: 1290px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__note {
    height: 610px;
    top: 100px;
  }
}

.menu__palette {
  top: -80px;
  height: 1360px;
}

@media screen and (min-width: 768px) {
  .menu__palette {
    height: 1200px;
    top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__palette {
    height: 610px;
    top: 100px;
  }
}

.menu__delices {
  top: -30px;
  height: 1310px;
}

@media screen and (min-width: 768px) {
  .menu__delices {
    height: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__delices {
    top: 100px;
    height: 610px;
  }
}

.menu__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .menu__form {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .menu__form {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.menu .fa-heart {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .menu__entrees,
  .menu__plats,
  .menu__desserts {
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__entrees,
  .menu__plats,
  .menu__desserts {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .menu__entrees__note {
    height: 380px;
  }
}

.slide__1 {
  animation: slide-menu 2s ease-in-out;
}

.slide__2 {
  animation: slide-menu 2s 0.2s ease-in-out;
}

.slide__3 {
  animation: slide-menu 2s 0.4s ease-in-out;
}

.slide__4 {
  animation: slide-menu 2s 0.6s ease-in-out;
}

.detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.detail h4 {
  margin: 0;
  margin-bottom: 0.5em;
}

.legend {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.legend p {
  margin: 0;
  font-size: 0.9em;
}

.legend p + p {
  font-weight: bold;
}

.submit__menu {
  margin-top: 2.5em;
}

@media screen and (min-width: 1200px) {
  .submit__menu {
    position: absolute;
    left: 40%;
    top: 78%;
    width: 20%;
  }
}

.slide__input {
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  margin-left: 0.5em;
  overflow: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.slide__input i {
  color: #99e2d0;
  border-radius: 20px;
  font-size: 1.7em;
  background-color: white;
  background-clip: content-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.slide__ico:active > .slide__input {
  width: 25%;
}

.slide__ico:active > .slide__input i {
  animation: slide__ico 1.5s;
}

.menu--input {
  display: none;
}

@media screen and (min-width: 1025px) {
  .slide__ico:hover > .slide__input {
    width: 25%;
  }
  .slide__ico:hover > .slide__input i {
    animation: slide__ico 1.5s;
  }
}
/*# sourceMappingURL=style.css.map */