// Animation du loader

@keyframes display {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

// Animation des cartes des menus

@keyframes slide-menu {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// Animation de l'icone des cartes des menus

@keyframes slide__ico {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

// Animation rotation loader

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
