@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
/* CSS Page d'Accueil */
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$fond: #f6f6f6;
$fonction_hover: #f5edff;
$fond_input: #eaeaea;

@keyframes slide-menu {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide__ico {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide__input {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 25%;
    opacity: 1;
  }
}
body {
  font-family: "roboto";
  width: auto;
  min-width: 375px;
  max-width: 1500px;
  margin: auto;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  list-style: none;
}

figure {
  margin: 0;
}
.shrikhand {
  font-family: "Shrikhand";
}
header {
  text-align: center;
}
header h1 {
  margin-bottom: 0.2em;
}
.search {
  height: 330px;
  display: flex;
  justify-content: center;
  background-color: $fond;
}
.search__form {
  width: 100%;
  text-align: center;
}
.style_input {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fond_input;
  border-top: 2px inset #cfcfcf;
  padding-left: 2em;
}
.style_input input {
  height: auto;
  background-color: $fond_input;
  border-style: none;
  -webkit-appearance: none;
  font-weight: bold;
  margin-left: 1em;
}
.style_input input:focus {
  outline: none;
}
.search input::placeholder {
  color: black;
}
.style_texte {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.style_texte h2 {
  margin-top: 1.5em;
}
.style_texte p {
  margin-top: 0;
  margin-bottom: 1.5em;
}
.submit {
  width: 15em;
  height: 3.5em;
  border: 0;
  border-radius: 25px;
  background: linear-gradient($secondaire, $primaire);
  color: white;
  outline: none;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
}
.fonction {
  margin-top: 2.5em;
  padding-left: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fonction h2 {
  margin-bottom: 0.4em;
}
.fonction__liste {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fonction__liste p {
  background-color: $fond;
  border-radius: 20px;
  height: 4em;
  padding-top: 1.7em;
  box-shadow: 1px 1px 10px 1px grey;
  font-weight: bold;
  margin-bottom: 1em;
}
.fonction__liste p:hover {
  background-color: lighten($primaire, 35%);
}
.fonction__liste p:hover > i {
  color: $primaire;
}
.fa-heart:hover::before {
  content: "\f004";
  font-weight: bold;
  color: #bb63db;
}
span {
  background-color: $primaire;
  border-radius: 100%;
  padding: 0.1em 0.4em;
  color: white;
  margin-left: -0.5em;
}
.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  color: #7e7e7e;
}
.fa-mobile-alt {
  margin: 0 2em;
}
.fa-list-ul {
  margin: 0 1.8em;
}
.fa-store {
  margin: 0 1.7em;
}
.resto {
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 2.5em;
  background-color: $fond;
  padding-left: 20px;
  padding-top: 2em;
}

.resto__cartes {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 90%;
}
.carte {
  height: 253px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 5px grey;
}
img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.carte__légende {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.7em;
}
figure {
  width: 100%;
  height: 178px;
  border-radius: 20px 20px 0 0;
}

.new {
  width: 23%;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  color: #025741;
  background-color: $tertiaire;
  border-radius: 2px;
  position: relative;
  top: -95%;
  left: 75%;
}
.new p {
  margin-top: 0.4em;
}
.carte__légende h3 {
  margin: 0;
  margin-left: -1em;
}
.carte__légende p {
  margin: 0;
  margin-top: 0.3em;
  margin-left: -1.2em;
}
.fa-heart {
  margin-left: 2em;
  font-size: 1.5em;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 25px;
  height: 200px;
  background-color: #353535;
  color: white;
}
footer ul {
  margin-bottom: 1.5em;
}
footer li {
  margin-bottom: 0.5em;
}
footer h3 {
  margin: 0;
  margin-top: 1em;
  font-weight: normal;
}
.footer__nav__liste a {
  color: white;
}
.fa-utensils {
  margin-right: 0.5em;
}

/* CSS Page Menu */

.header__menu {
  display: flex;
  height: 63px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
  margin-right: 3em;
}
.header__menu h1 {
  margin-top: 0;
}
.fa-arrow-left {
  font-size: 1.5em;
}
.main__menu {
  height: 1580px;
}
.menu__fond {
  height: 300px;
}
.menu__fond__img {
  border-radius: 0;
}
.menu__shrikhand {
  margin-top: 1.5em;
  margin-left: 0.8em;
}
.menu .fa-heart {
  font-size: 1em;
}
.menu {
  width: 100%;
  position: relative;
  top: -30px;
  height: 1310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $fond;
  border-radius: 35px 35px 0 0;
}
.menu__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__entrées,
.menu__plats,
.menu__desserts {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
}
.entrées,
.plats,
.desserts {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 1em;
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  overflow: hidden;
}
.slide__1 {
  animation: slide-menu 2s ease-in-out;
}
.slide__2 {
  animation: slide-menu 2s 0.2s ease-in-out;
}
.slide__3 {
  animation: slide-menu 2s 0.4s ease-in-out;
}
.slide__4 {
  animation: slide-menu 2s 0.6s ease-in-out;
}
.détail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.détail h4,
.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.détail h4 {
  margin: 0;
  margin-bottom: 0.5em;
}
.legend p {
  margin: 0;
  font-size: 0.9em;
}
.legend p + p {
  font-weight: bold;
  margin-block-end: 0.5em;
}
.legend {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.submit__menu {
  margin-top: 2.5em;
}
.slide__ico:hover > .slide__input {
  //animation: slide__input 1s both ease-in-out;
  width: 25%;
}
.slide__ico:hover > .slide__input i {
  animation: slide__ico 1.5s;
}
.slide__input {
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiaire;
  border-radius: 0 15px 15px 0;
  margin-left: 0.5em;
  overflow: hidden;
  transition: all 1s;
}
.slide__input i {
  color: #99e2d0;
  border-radius: 20px;
  font-size: 1.7em;
  background-color: white;
}
.menu--input {
  display: none;
}
/* responsive page d'accueil */
@media screen and (min-width: 1440px) {
  body {
    max-width: 1500px;
    margin: 30px auto;
    box-shadow: -5px -5px 5px #f2f2f2, 5px 5px 5px 5px black;
    border-radius: 20px 20px 20px 20px;
  }
  .search {
    height: 280px;
  }
  .fonction {
    height: 250px;
  }
  .fonction__liste {
    align-items: center;
    flex-direction: row;
  }
  .fonction__liste p {
    width: 30%;
    margin-left: 2.5em;
    height: 3em;
  }
  .resto {
    height: 700px;
  }
  .resto__cartes {
    width: 80%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-self: center;
  }
  .carte {
    width: 40%;
  }
  footer {
    border-radius: 0 0 20px 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .search {
    height: 280px;
  }
  .fonction {
    height: 250px;
  }
  .fonction__liste {
    align-items: center;
    flex-direction: row;
  }
  .fonction__liste p {
    width: 30%;
    height: 3em;
    margin-left: 2.5em;
  }
  .resto {
    height: 700px;
  }
  .resto__cartes {
    width: 80%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-self: center;
  }
  .carte {
    width: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fonction__liste {
    align-items: center;
  }
  .fonction__liste p {
    width: 70%;
  }
  .resto__cartes {
    align-items: center;
  }
  .carte {
    width: 70%;
  }
}

/* responsive pages de menu */
@media screen and (min-width: 768px) {
  .main__menu {
    height: 1470px;
  }
  .menu__fond__img {
    max-height: 280px;
  }
  .menu {
    height: 1200px;
    align-items: center;
    border-radius: 0;
  }
  .menu__form {
    width: 60%;
  }
  .menu__entrées,
  .menu__plats,
  .menu__desserts {
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__fond__img {
    max-height: 400px;
  }
  .main__menu {
    height: 1008px;
  }
  .menu {
    height: 610px;
    top: 100px;
    border-radius: 0;
  }
  .menu__form {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu__entrées,
  .menu__plats,
  .menu__desserts {
    width: 30%;
  }
  .submit__menu {
    position: absolute;
    left: 40%;
    top: 78%;
    width: 20%;
  }
}
